.header{
    background-color: aquamarine;
}

.carousel{
    padding: 0 !important;
}

.carousel-item{
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}
  
.card-wrapper {
  margin: 5% 0;
}

.custom-circle-image {
  width: 20vw; 
  height: 20vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 1.1px;
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.col-sm-4 {
        padding-top: 100px;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
}

